				</div>
				<div id="sidebar" class="span-6 last">
					<p>Sidebar</p>
			  </div>
		  </div>
		</div>
			
		<div style="line-height:10px;">&nbsp;</div>
		<div id="footer" class="container">
				This is the 'sticky' footer
		</div>
	</body>
</html>