<!DOCTYPE html>
<html>
  <head>
	  <title>MedStudyBuddy | {{title}}</title>
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/stylesheets/blueprint/screen.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/blueprint/print.css" media="print" rel="stylesheet" type="text/css" />
		<!--[if lt IE8]>
			<link href="/stylesheets/blueprint/ie.css" media="screen" rel="stylesheet" type="text/css" />
		<![endif]-->
		<link href="/stylesheets/notes.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/sticky-footer.css" media="screen" rel="stylesheet" type="text/css" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="shortcut icon" href="/images/favicon.ico" />
		{{{style}}}
  </head>
  <body>
	  <div id="wrap">
			<div id="main" class="container">
		  	<div id="header">
					<div style="float:left;">
						<img src="/images/MSBLogo.png">
					</div>
					<img src="/images/MSBText.png">
				</div>
				<div id="content" class="span-16 append-1 prepend-1">
					
					{{{content}}}
				
				</div>
				<div id="sidebar" class="span-6 last">
					<p>Sidebar</p>
			  </div>
		  </div>
		</div>
			
		<div style="line-height:10px;">&nbsp;</div>
		<div id="footer" class="container">
				This is the 'sticky' footer
		</div>
	</body>
</html>