<div style="width:100%">
	<div>
		<a href="/Notes/"><img class="centre" src="/images/MSBLogo.png"></a>
	</div>
	<img class="centre" src="/images/MSBText.png">
	<p class="centre">MedStudyBuddy is here to help you through those tough times of revision.</p>
	<p class="centre">Have a look at our <a href="/Notes/">Notes</a></p>
</div>