<p><font color="#403251" size="3" face="Arial"><b><u>Shoulder Pain</u></b></font>&nbsp;<br>
</p>

<a name="0.1_table01"></a>
<div align="left">
<table width="616" border="2" cellspacing="0">
<tbody><tr valign="top"><td bgcolor="#FFFF00">
  <font size="3" face="Arial"><u>Investigations</u></font>&nbsp;<br>
  <ul type="DISC">
    <li><font size="3" face="Arial">Physical examination yields 
    most diagnoses</font></li>
    <li><font size="3" face="Arial">X-ray is important following 
    trauma to rule out fracture. Also to exclude OA</font></li>
    <li><font size="3" face="Arial">Ultrasound shows tendon integrity</font></li>
    <li><font size="3" face="Arial">MRI is better to detect labral 
    tears</font></li>
    <li><font size="3" face="Arial">Arthroscopy is done at or 
    prior to surgery</font></li>
  </ul>
  &nbsp;<br>
  <p><font size="3" face="Arial"><u>Management</u></font>&nbsp;<br></p>
  <ul type="DISC">
    <li><font size="3" face="Arial">In addition to specific management 
    all shoulder pain can be treated conservatively with</font></li>
    <ul type="DISC">
      <li><font size="3" face="Arial">Analgesia (NSAIDs)</font></li>
      <li><font size="3" face="Arial">Physio</font></li>
      <li><font size="3" face="Arial">Intra-articular steroid injections</font></li>
      <li><font size="3" face="Arial">Intra-articular local anaesthetic 
      (if severe pain or prior to reduction)</font></li>
  </ul></ul>
  </td></tr>
</tbody></table>
</div>
&nbsp;<br>
<p><a name="0.1_graphic04"></a><font color="#403251" size="5" face="Wingdings"><b><img src="./ShoulderPain_files/saved_resource" height="1" width="1" alt="Your browser may not support display of this image.">
</b></font><font color="#403251" size="3" face="Arial"><b>Painful Arc 
syndrome</b></font>&nbsp;<br></p>
<ul type="DISC">
  <li><font size="3" face="Arial">Pain on abduction between 
  45-160º</font></li>
  <li><font size="3" face="Arial">Most commonly due to <b>
  Supra spinatus tendonitis</b> or a minor tear in the supraspinatus tendon.</font></li>
  <li><font size="3" face="Arial">Pain results as the tendon 
  is impinged by the acromium during abduction </font></li>
  <li><font size="3" face="Arial">Hence aka <i>acromio-clavicular 
  impingement; impingement syndrome</i></font></li>
  <li><font size="3" face="Arial"><i>Rx: Analgesia (NSAIDs), </i>
  active shoulder mobilisation </font></li>
</ul>
<ul><p><font size="3" face="Arial">(physio), intrarticular steroid injection 
into subacrominal </font></p></ul>
<ul><p><font size="3" face="Arial">bursa, arthroscopic decompression 
(acromioplasty)</font>&nbsp;<br></p></ul>
<ul type="DISC">
  <li><font size="3" face="Arial">Other causes:</font></li>
  <ul type="DISC">
    <li><font size="3" face="Arial">Acromio-clavicular joint OA 
    (common); Rx: as above - steroid injections; excision of lateral end 
    of the acromium </font></li>
    <li><font size="3" face="Arial">Calcified nodule in tendon</font></li>
    <li><font size="3" face="Arial">Proximal humerus fracture</font></li>
    <li><font size="3" face="Arial">Bursitis</font></li>
</ul></ul>
&nbsp;<br>
<p><font size="3" face="Arial"><b>Rotator Cuff tears</b></font>&nbsp;<br>
</p>
<p><font size="3" face="Arial">The Rotator Cuff = 4 muscles</font></p>
<ul>
<ul type="DISC">
  <li><font size="3" face="Arial">Supscapularis</font></li>
  <li><font size="3" face="Arial">Spuraspinatus</font></li>
  <li><font size="3" face="Arial">Teres minor </font></li>
  <li><font size="3" face="Arial">Infraspinatus</font></li>
</ul>
</ul>
&nbsp;<br>
<ul type="DISC">
  <li><font size="3" face="Arial">Act to stabilise the shoulder</font></li>
  <li><font size="3" face="Arial">Also have a limited role in 
  movement (eg rotation, abduction)</font></li>
</ul>
&nbsp;<br>
<ul type="DISC">
  <li><font size="3" face="Arial">Supraspinatus is most commonly 
  torn</font></li>
  <li><font size="3" face="Arial">Usu due to degeneration (&gt;40 
  years)</font></li>
  <li><font size="3" face="Arial">Partial tears cause painful 
  arc syndrome (<i>see below</i>)</font></li>
  <li><font size="3" face="Arial">Complete (major) tears result 
  in inability to actively abduct the arm from 45-160º</font></li>
  <li><font size="3" face="Arial">The initial movement is achievable 
  by scapular retraction, the final 20º is achievable because the deltoid 
  takes over</font></li>
  <li><font size="3" face="Arial">Passive movement is maintained</font></li>
  <li><font size="3" face="Arial">Pain is felt in the shoulder 
  tip and upper arm</font></li>
</ul>
&nbsp;<br>
<p><font size="3" face="Arial">Management</font></p>
<ul type="DISC">
  <li><font size="3" face="Arial">US – check tendons</font></li>
  <li><font size="3" face="Arial">SURGERY - complete tears require 
  surgery (either open or arthroscopic)</font></li>
</ul>
&nbsp;<br>
<p><font color="#403251" size="3" face="Arial"><b>Frozen shoulder</b></font></p>
<ul type="DISC">
  <li><font size="3" face="Arial">Aka Adhesive Capsulitis</font></li>
  <li><font size="3" face="Arial">Can occur just after minor 
  trauma</font></li>
  <li><font size="3" face="Arial">May is severe and worse 
  at night</font></li>
  <li><font size="3" face="Arial">Active and passive movement 
  reduced</font></li>
  <li><font size="3" face="Arial">Abduction and external rotation 
  singnificantly reduced</font></li>
  <li><font size="3" face="Arial">May be associated with cervical 
  spondylosis in which case there would be a more widespread retriction 
  of movement</font></li>
  <li><font size="3" face="Arial">Rx: physio</font></li>
  <li><font size="3" face="Arial">Also analgesia, IA steroid, 
  physio, manipulation under aneastheric. Local nerve block may provide 
  short relief.</font></li>
  <li><font size="3" face="Arial">May take years to resolve</font></li>
  <li><font size="3" face="Arial">Need to consider all 4 joints 
  of the hsoudler – AC, glenohumeral, sterno clavicular and caliviculo-scapular</font></li>
</ul>
&nbsp;<br>
<p><font color="#403251" size="3" face="Arial"><b>Shoulder OA</b></font>&nbsp;<br>
</p>
<ul type="DISC">
  <li><font size="3" face="Arial">Not as common as hip or 
  knee OA</font></li>
  <li><font size="3" face="Arial">Good results with surgery 
  – joint replacement</font></li>
  <li><font size="3" face="Arial">Need to time surgery carefully 
  – before rotator cuff is too worn out</font></li>
  <li><font size="3" face="Arial">Cx: infection, dislocation, 
  prosthesis loosening, nerve injury, fracture.</font></li>
</ul>
&nbsp;<br>
<p><font size="3" face="Arial"><u>Other causes if shoulder pain:</u></font>&nbsp;<br>
</p>
<p><font size="3" face="Arial">Long head of Bicep tendonopathy</font></p>
<ul type="DISC">
  <li><font size="3" face="Arial">Anterior pain, worse on 
  flexion on the arm</font></li>
  <li><font size="3" face="Arial">Rx: analgesia, IA steroids, 
  physio.</font></li>
</ul>
&nbsp;<br>
<p><font size="3" face="Arial">Rupture of long head of biceps</font></p>
<ul type="DISC">
  <li><font size="3" face="Arial">Feel of something snap during 
  movement</font></li>
  <li><font size="3" face="Arial">Ball in muscle </font><font size="3" face="Wingdings">à</font><font size="3" face="Arial"> ‘Popeye&nbsp; 
  muscle’</font></li>
  <li><font size="3" face="Arial">Surgery rarely needed, as 
  function in OK</font></li>
</ul>
&nbsp;<br>
<p><font size="3" face="Arial">NB don’t forget about referred pain 
to the shoulder (eg from the diaphragm in cholecystitis; from heart 
in acute MI)<b><u>&nbsp;<br>
</u></b></font></p>
<p><font color="#403251" size="3" face="Arial"><b><u>Shoulder Dislocation</u></b></font>&nbsp;<br>
</p>
<p><font size="3" face="Arial">The shoulder is a highly mobile joint. 
In order to gain this mobility it has to sacrifice some stability.</font></p>
<p><a name="0.1_graphic05"></a><font size="5" face="Calibri"><img src="./ShoulderPain_files/saved_resource" height="1" width="1" alt="Your browser may not support display of this image.">
</font></p>
<p><font size="3" face="Arial">3 factors keep the shoulder joint secure</font></p>
<ol type="1">
  <li><font size="3" face="Arial">Labrum – ring of cartilage 
  that helps to keep the humeral head in the glenoid cavity</font></li>
  <li><font size="3" face="Arial">Rotator cuff muscles</font></li>
  <li><font size="3" face="Arial">Hydrostatic forces created 
  within the synovial cavity</font></li>
</ol>
&nbsp;<br>
<p><font size="3" face="Arial"><u>Anterior Dislocation</u></font>&nbsp;<br>
</p>
<ul type="DISC">
  <li><font size="3" face="Arial">Vast majority (90%)</font></li>
  <li><a name="0.1_graphic06"></a><font size="3" face="Arial"><img src="./ShoulderPain_files/saved_resource" height="1" width="1" alt="Your browser may not support display of this image.">
  usu traumatic eg fall on arm or shoulder</font></li>
</ul>
&nbsp;<br>
<p><font size="3" face="Arial"><i>s/s:</i></font></p>
<ul type="DISC">
  <li><font size="3" face="Arial">Loss of shoulder contour 
  (flattening of deltoid) and anterior bulge</font></li>
  <li><font size="3" face="Arial">Check neurovascular status!</font></li>
  <ul type="DISC">
    <li><font size="3" face="Arial">Including axillary nerve – 
    sensation over lower deltoid area</font></li>
    <li><font size="3" face="Arial">Repeat post-reduction</font></li>
</ul></ul>
&nbsp;<br>
<p><font size="3" face="Arial"><u>Management</u></font></p>
<ul type="DISC">
  <li><font size="3" face="Arial">Reduce!</font></li>
  <li><font size="3" face="Arial">Surgery if young/athletic</font></li>
  <li><font size="3" face="Arial">Surgery if dislocation + 
  tear in rotator cuff or labrum (bankhart lesion)</font></li>
</ul>
&nbsp;<br>
<p><font size="3" face="Arial"><u>Reducing a shoulder dislocation</u></font></p>
<ul type="DISC">
  <li><font size="3" face="Arial">X-ray before reducing – 
  is there a fracture?</font></li>
  <li><font size="3" face="Arial">Analgesia </font></li>
  <ul type="DISC">
    <li><font size="3" face="Arial">Intra-articular local anaesthetic, 
    entonox (nitrous oxide ‘gas on air’), IV opioid</font></li>
    </ul>
  <li><font size="3" face="Arial">Longitudinal traction of 
  the arm in abduction and replace the head of humerus with gradual pressure</font></li>
  <li><font size="3" face="Arial">Re-check neurovascular status</font></li>
</ul>
&nbsp;<br>
<p><font color="#403251" size="3" face="Arial"><b>Recurrent Shoulder 
Dislocation</b></font>&nbsp;<br></p>
<ul type="DISC">
  <li><font size="3" face="Arial">Can be either traumatic 
  (often due to bankhart lesion; needs surgery) or atraumatic (due to 
  joint laxity; common in young people)</font></li>
  <li><font size="3" face="Arial">Important to ask: is there 
  an underlying CT disorder? Eg Marfans. Ehlors-danlos</font></li>
</ul>
&nbsp;<br>
<p><font color="#403251" size="3" face="Arial"><b>Posterior Shoulder 
Dislocation</b></font>&nbsp;<br></p>
<ul type="DISC">
  <li><font size="3" face="Arial">occur after grand mal seizures 
  (epileptics)</font></li>
</ul>
&nbsp;<br><a name="0.1_table02"></a>
<div align="left">
<table width="616" border="2" cellspacing="0">
<tbody><tr valign="top"><td bgcolor="#C39BE1"><font size="3" face="Arial"><u>Further 
  Reading:</u></font>&nbsp;<br>
  <ul type="DISC">
    <li><font size="3" face="Arial"><i>Source: OHCS. 8</i><sup><i>th</i></sup><i> 
    edition. 2009. p662 &amp; 740</i></font></li>
  </ul>
  </td></tr>
</tbody></table>
</div>


</div>

</div>