<header>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><a href="/Notes/">Notes</a></li>
			<li><%= link_to "About your Buddy", about_path %></li>
			<li><%= link_to "Contact Us", contact_path %></li>
	</nav>
</header>